<div class="sidebar">
  <div *ngIf="cropperReady">
    <button type="button" (click)="zoomIn($event)">Zoom In</button>
    <button type="button" (click)="zoomOut($event)">Zoom Out</button>
    <button type="button" (click)="clearBox()">Clear Cropper</button>
    <button type="button" (click)="enableCropper()">Enable Cropper</button>
    <button type="button" (click)="disableCropper()">Disable Cropper</button>
    <button type="button" (click)="toggleCropper()">Toggle Cropper</button>
    <button type="button" (click)="toggleMeasureTool()">Toggle Measurement Tool</button>
    <button *ngIf="startPlaced && endPlaced" type="button" (click)="toggleLineCircle()">Toggle Line/Circle</button>
    <button type="button" (click)="toggleAngleTool()">Toggle Angle Tool</button>
    <button type="button" (click)="clearMeasureLine()">Clear Measurement Line</button>
    <button type="button" (click)="clearAngleMeasure()">Clear Angle Measurement</button>
  </div>
  <hr>
  <hr>
  <p>Enter Photo Width</p>
  <input id="url_input" [value]="scale" (input)="scale = $event.target.value" type="number" step="0.1" (change)="updateScale($event)">
  <select [value]="scaleType" (input)="scaleType = $event.target.value" (change)="updateScale($event)">
    <option value="mm">Millimeters</option>
    <option value="cm">Centimeters</option>
    <option value="in">Inches</option>
  </select>
  <p *ngIf="!cropperReady" class="disabled">Cropper Not Ready</p>
  <p *ngIf="!cropperEnabled && cropperReady" class="disabled">Cropper Disabled</p>
  <p *ngIf="cropperEnabled && cropperReady" class="enabled">Cropper Enabled</p>
  <p *ngIf="cropperReady && !measureEnabled" class="disabled">Measurer Disabled</p>
  <p *ngIf="cropperReady && measureEnabled" class="enabled">Measurer Enabled</p>
  <p *ngIf="cropperReady && !angleEnabled" class="disabled">Angler Disabled</p>
  <p *ngIf="cropperReady && angleEnabled" class="enabled">Angler Enabled</p>
</div>
<div (window:scroll)="onWindowChange($event)" (window:resize)="onWindowChange($event)" class="mainview" id="mainview">
  <angular-cropper #angularCropper (ready)="readyTrigger()" [cropperOptions]="config" [imageUrl]="imageUrl" (click)="onImageClick($event)"></angular-cropper>
  <div cdkDrag cdkDragBoundary=".cropper-wrapper" [hidden]="!startPlaced" class="measurestart" id="measurestart" (cdkDragMoved)="moveMeasureStart($event)"></div>
  <div [hidden]="!endPlaced" class="measureline" id="measureline"></div>
  <div cdkDrag cdkDragBoundary=".mainview" [hidden]="!endPlaced" class="measureend" id="measureend" (cdkDragMoved)="moveMeasureEnd($event)"></div>
  <div cdkDrag cdkDragBoundary=".mainview" class="anglestart" id="anglestart" (cdkDragMoved)="moveAngleStart($event)"></div>
  <div cdkDrag cdkDragBoundary=".mainview" class="anglecenter" id="anglecenter" (cdkDragMoved)="moveAngleCenter($event)"></div>
  <div cdkDrag cdkDragBoundary=".mainview" class="angleend" id="angleend" (cdkDragMoved)="moveAngleEnd($event)"></div>
  <div class="angleline" id="anglelinestart"></div>
  <div class="angleline" id="anglelineend"></div>
  <div class="measuredisp" id="measuredisp">
    <p><span *ngIf="!measureIsCircle">Length: {{(distance * relativeScale).toFixed(2)}} {{scaleType}}</span><span *ngIf="measureIsCircle">Radius: {{((distance * relativeScale)/2).toFixed(2)}} {{scaleType}}</span> | <span *ngIf="!measureIsCircle" (click)="toggleLineCircle()">Circle</span><span *ngIf="measureIsCircle" (click)="toggleLineCircle()">Line</span> | <span (click)="clearMeasureLine()">Clear</span></p>
  </div>
  <div class="angledisp" id="angledisp">
    <p>{{angle.toFixed(2)}} degrees | <span (click)="clearAngleMeasure()">Clear</span></p>
  </div>
</div>
